*
{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: #fff;
}


.header{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 6%;
    position: relative;
    border-bottom: 6px solid rgb(30, 30, 30);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px;
}

.logo{
    width: 150px;
    scale: .6;
    cursor: pointer;
}

.button button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.lanbut{
    display: inline-flex;
    align-items: center;
    background: none;
    border: 1px solid #fff;
    padding: 7px 10px;
}

.lanbut img{
    width: 10px;
    margin-left: 10px;
}

.headcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 80px;
}

.headcon h1{
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
    margin-bottom: 10px;
}

.headcon h3{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.headcon p{
    font-size: 17px;
}

.email-signup{
    font-size: 20px;
    height: 80px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.email-signup input{
    flex: 1;
    background: rgba(58, 53, 53, 0.5);
    border: 1px white solid;
    border-radius: 6px;
    outline: 0;
    margin-left: 20px;
    padding: 15px;
    box-shadow: 5px 5px 10px;
}

.email-signup button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 1vh 5vh;
    font-size: 24px;
    border-radius: 4px;
    margin-left: 10px;
    border-radius: 6px;
    cursor: pointer;
}

/* features */

.features{
    font-size: 22px;
}

.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 10%;
    border-bottom: 5px solid rgb(30, 30, 30);
}

.textcol{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.textcol h1{
    margin-bottom: 10px;
    line-height: 1.2;
}

.textcol p{
    font-size: 24px;
    margin-bottom: 10px;
}

.imgcol{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.imgcol img{
    display: block;
    width: 90%;
    margin: auto;
}